@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  color-scheme: light;
}

body {
  overflow-x: hidden;
  background-color: #0D1B2A;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
